{% extends "master.html" %}

{% block body %}
<center>
    {{class_one.teacher_name}} - {{class_one.class_name}} - Period {{class_one.class_period}}
    <br><br>
    Students
    <br>
    {% for student in students %}
    <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to={{student.student_email}}&su={{username}} - {{class_one.class_name}} - Period {{class_one.class_period}}">{{student.student_name}}</a>
    <br>
    {% endfor %}
    Write the teacher: <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to={{class_one.teacher_email}}&su={{username}} - {{class_one.class_name}} - Period {{class_one.class_period}}">
      {{class_one.teacher_email}}
    </a>
    {% if auth == "student" %}
      <br>
      <form method="post">
        <input type="submit" name="button" id="button" value="Enroll in Class">
        <input type="submit" name="button" id="button" value="Leave Class">
      </form>
    <!--<form method="post">
      <button type="submit">Enroll in Class</button>
    </form>-->
    {% endif %}
    {% if auth == "teacher" %}
      <br>
      <form method="post">
        <input type="submit" name="button" id="button" value="Email Multiple Students">
        <br>
        <input type="submit" name="button" id="button" value="Delete This Class" onclock="showConfirm">
        <br>
        <div id="confirmDelete" style="display:none;">
            <input type="submit" name="button" id="button" value="Confirm Delete">
        </div>
      </form>
    <!--<form method = "post">
      <button type="submit">Email multiple students</button>
    </form>-->
    {% endif %}
</center>
{% endblock %}
