{% extends "master.html" %}

{% block body %}
<center>
  {{class_one.teacher_name}} - {{class_one.class_name}} - Period {{class_one.class_period}}
  <br><br><br>

  <!-- STUDENT SHOW -->
  {% if auth == "student" %}
  Students<br>
  {% for student in students %}
  <a onclick="popupEmail('{{student.student_email}}', '{{username}}', '{{class_one.class_name}}', '{{class_one.class_period}}')">{{student.student_name}}</a>
  <br>
  {% endfor %}
  <br><br>
  Write the teacher: <a onclick="popupEmail('{{class_one.teacher_email}}', '{{username}}', '{{class_one.class_name}}', '{{class_one.class_period}}')">{{class_one.teacher_email}}</a><br>
  <form method="post">
    <input type="submit" name="button" id="button" value="Enroll in Class">
    <input type="submit" name="button" id="button" value="Leave Class">
  </form>
  {% endif %}
  <!-- TEACHER SHOW -->
  {% if auth == "teacher" %}
  Students<br>
  {% for student in students %}
  <p onclick="showHideDiv('{{student.student_email}}')">{{student.student_name}}</p>
  <div id="{{student.student_email}}" style="display:none;">
    <table class="studentTable" border="1px">
      <tr><td>Preferred name</td><td> {{student.preferred_name}}</td></tr>
      <tr><td>Student email</td><td> <a onclick="popupEmail('{{student.student_email}}', '{{username}}', '{{class_one.class_name}}', '{{class_one.class_period}}')">{{student.student_email}}</td></tr>
      <tr><td>Student phone</td><td> {{student.student_phone}}</td></tr>
      <tr><td>Address</td><td> {{student.address}}</td></tr>
      <tr><td>Parent name</td><td> {{student.parent_name}}</td></tr>
      <tr><td>Parent phone</td><td> {{student.parent_phone}}</td></tr>
      <tr><td>Parent email</td><td> <a onclick="popupEmail('{{student.student_email}}', '{{username}}', '{{class_one.class_name}}', '{{class_one.class_period}}')">{{student.parent_email}}</td></tr>
      <tr><td>Counselor name</td><td> {{student.counselor_name}}</td></tr>
      <tr><td>Counselor phone</td><td> {{student.counselor_phone}}</td></tr>
      <tr><td>Counselor email</td><td> <a onclick="popupEmail('{{student.student_email}}', '{{username}}', '{{class_one.class_name}}', '{{class_one.class_period}}')">{{student.counselor_email}}</td></tr></td></tr>
</table>
<a href="/contactInfo/{{student.student_email}}">Edit Contact Info</a>
<!-- Needs form for teacher to modify these values. Once teacher modifies, lock student from it? -->
</div>
<br>
{% endfor %}
<form method="post">
  <input type="submit" name="button" id="button" value="Email Multiple Students">
  <br>
  <div id="hideOriginal" style="display:block;">
    <br>
    <input type="button" value="Delete This Class" onclick="showConfirm()">
  </div>
  <br><br><br>
  <div id="confirmDelete" style="display:none;">
    <input type="submit" name="button" id="button" value="Confirm Delete">
    <br>
    <br>
    <input type="button" value="Cancel" onclick="returnOriginal()">
  </div>
</form>
{% endif %}
</center>
{% endblock %}
