{% extends "master.html" %}

{% block body %}
<center>
  <!--
  Most common form control, text-based input fields. Includes support for all HTML5 types: text, password, datetime, datetime-local, date, month, time, week, number, email, url, search, tel, and color.
  -->
  <form method="post">
    <!--STUDENT PORTION OF FORM-->
    <div class="form-group" style="width:50%">
      <label>Preferred Name</label>
      <input class="form-control" type="text"  name="sname" value="{{student.preferred_name}}" placeholder="ex. John">
    </div>
    <div class="form-group" style="width:50%">
      <label>Student Phone Number</label>
      <input class="form-control" type="tel"  name="sphone" value="{{student.student_phone}}" placeholder="ex. (212) 312-4800">
    </div>
    <div class="form-group" style="width:50%">
      <label>Student Address</label>
      <input class="form-control" type="text"  name="address" value="{{student.address}}" placeholder="ex. 345 Chambers St, New York, NY 10282">
    </div>
    <!--PARENT PORTION OF FORM-->
    <div class="form-group" style="width:50%">
      <label>Parent Name</label>
      <input class="form-control" type="text"  name="pname" value="{{student.parent_name}}" placeholder="ex. Jane Doe">
    </div>
    <div class="form-group" style="width:50%">
      <label>Parent Phone Number</label>
      <input class="form-control" type="tel"  name="pphone" value="{{student.parent_phone}}" placeholder="ex. (212) 312-4800">
    </div>
    <div class="form-group" style="width:50%">
      <label>Parent Email</label>
      <input class="form-control" type="email"  name="pemail" value="{{student.parent_email}}" placeholder="ex. johndoe@gmail.com">
    </div>
    <!--COUNSELOR PORTION OF FORM-->
    <div class="form-group" style="width:50%">
      <label>Counselor Name</label>
      <input class="form-control" type="text"  name="gname" value="{{student.counselor_name}}" placeholder="ex. Jane Doe">
    </div>
    <div class="form-group" style="width:50%">
      <label>Counselor Phone Number</label>
      <input class="form-control" type="tel"  name="gphone" value="{{student.counselor_phone}}" placeholder="ex. (212) 312-4800">
    </div>
    <div class="form-group" style="width:50%">
      <label>Counselor Email</label>
      <input class="form-control" type="email"  name="gemail" value="{{student.counselor_email}}" placeholder="ex. johndoe@gmail.com">
    </div>
    <button type="submit" class="btn btn-default" style="width:33%;">Submit</button><br><br>
  </form>
</center>

{% endblock %}
