{% extends "master.html" %}

{% block body %}
<center>
  <form method="post">
    <p>Preferred Name:</p>
    <input type="text" name="sname" value="{{student.preferred_name}}">
    <br>
    <p>Student Phone Number:</p>
    <input type="text" name="sphone" value="{{student.student_phone}}">
    <br>
    <p>Student Address:</p>
    <input type="text" name="address" value="{{student.address}}">
    <br>
    <p>Parent Name:</p>
    <input type="text" name="pname" value="{{student.parent_name}}">
    <p>Parent Phone Number:</p>
    <input type="text" name="pphone" value="{{student.parent_phone}}">
    <br>
    <p>Parent Email:</p>
    <input type="email" name="pemail" value="{{student.parent_email}}">
    <p>Guidance Counselor Name:</p>
    <input type="text" name="gname" value="{{student.counselor_name}}">
    <p>Guidance Counselor Phone Number:</p>
    <input type="text" name="gphone" value="{{student.counselor_phone}}">
    <br>
    <p>Guidance Counselor Email:</p>
    <input type="email" name="gemail" value="{{student.counselor_email}}">
    <br><br>
    <button type="submit" class="btn btn-default" style="width:33%;">Submit</button>
  </form>
</center>

{% endblock %}
