{% extends "master.html" %}

{% block body %}
<center>
  <form method="post">

    {% for student in students %}
    <input type="checkbox" name="checks" value="{{student.student_email}}"> {{student.student_name}}<br>
    {% endfor %}
    <p>Subject:</p>
    <input type="text" name="subject_name">
    <br>
    <p>Body:</p>
    <input type="text" name="body_name" style"height:300px;width:300px;">
    <br>
    <input type="checkbox" name="checkbox" value="late_email">Late email template
    <br><br>
    <input type="submit" name="button" id="button"  class="btn btn-default" style="width:33%;" value="Go to Email Page">
  </form>
</center>

{% endblock %}
